.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.progress
{
	height: 0.25rem !important;
}

/* Disable materialize-css junk. */
span.thumb { display: none; }
input[type=range] { border: 0; }

/* Fix materialize-css pixel size for buttons. */
.btn
{
	font-size: 0.75rem;
}

/* ... */
.input-field { margin-top: 0.67rem; margin-bottom: 0.67rem; }
.input-field .prefix ~ input
{
	box-sizing: border-box;
	padding: 0rem 0.25rem;
	width: calc(100% - 4rem);
}

.material-icons
{
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

/** Animations **/
@keyframes horizontalBackgroundMovement
{
	from { background-position-x: 50%; }
	to { background-position-x: 250%; }
}

html
{
}

textarea
{
	resize: none;
}

hr
{
	margin-block-start: 0em;
	margin-block-end: 0em;
	line-height: 1.5;

	clear: both;
	display: block;
	position: relative;
	border: 0;
	padding: 0;
	margin: 0.5rem 0rem 1rem 0rem;
	height: 0.25rem !important;
	width: 100%;
	border-radius: 2px;
	background-color: lightgrey;
}

#campaign h1,
#campaign h2,
#campaign h3
{
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 1.25rem;
	margin-bottom: 0;
}

#campaign h1
{
	text-align: left;
	font-size: 1.40rem;
	color: rgba(0, 0, 0, 0.90);
}

#campaign h2
{
	font-size: 0.90rem;
	color: rgba(0, 0, 0, 0.80);
}

#campaign h3
{
	font-size: 0.75rem;
	color: rgba(0, 0, 0, 0.60);
}

#campaign p
{
	font-size: 0.90rem;
	color: rgba(0, 0, 0, 0.70);
}

#campaign ul,
#campaign ol
{
	margin-left: 2rem;
}

#campaign ul > li,
#campaign ol > li
{
	color: rgba(0, 0, 0, 0.70);
	font-size: 0.90rem;
	list-style-type: disc;
	list-style-position: inside;
}

#recipientList
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: inside;
}

#recipientList > li
{
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;

	margin-bottom: 1rem;
}
#recipientList > li > a
{
	font-size: 0;
	position: relative;
	padding: 0;
	margin: 0;
	color: black;
}
#recipientList > li > a > span
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	font-size: 1rem;

	padding: 0rem 1rem;
	margin: 0;

	color: white;
	background-color: rgba(0, 0, 0, 0.50);

	color: black;
	background-color: rgba(255, 255, 255, 0.67);

	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

#recipientList > li > a > img
{
	display: inline-block;
	width: 100%;

	border-radius: 1rem;
	margin: 0;
	padding: 0;
	background-color: white;
	box-shadow: inset 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.31);
}

#contributionList
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: inside;
}
#contributionList > li
{
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;

	margin-bottom: 1rem;
}
#contributionList > li > span
{
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;

	font-size: 1rem;

	margin: 0rem;
	padding: 0rem;
	padding-left: 0.67rem;

	background-color: rgba(255, 255, 255, 0.67);
}

#contributionList > li > div > img
{
	display: block;
	height: 4rem;
	width: 4rem;

	background-image: url('../img/water.png');
	background-repeat: repeat-x;
	background-size: cover;
	background-position: 0 4rem;

	animation-name: horizontalBackgroundMovement;
	animation-timing-function: linear;
	animation-duration: 15s;
	animation-iteration-count: infinite;

	border-radius: 999rem;
	margin: 0;
	padding: 2rem;
	border: 0;

	box-shadow: inset 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.31);
}
#contributionList > li > div
{
	position: relative;
}

#contributionList > li > div > span
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;
	height: 4rem;
	width: 4rem;

	line-height: 4rem;
	text-align: center;
	border-radius: 999rem;

	background-color: rgba(255, 255, 255, 0.31);

	padding-left: 0.33rem;
	padding-top: 0.10rem;
	font-family: monospace;
	font-size: 1.15rem;
	font-weight: bold;
}

#contributionList > li > span > span
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#contributionList > li > span > q
{
	text-align: left;
	font-size: smaller;
	color: rgba(0, 0, 0, 0.42);
}

#contributionList > li > span > small
{
	color: rgba(0, 0, 0, 0.42);
}

#donateSection
{
	transition: all 1s ease-in-out;
	max-height: 65rem;
	padding: 0;
	overflow: hidden;
	margin-top: 1rem;

}

#donateSection.hidden
{
	opacity: 0;
	visibility: hidden;
	margin-top: 0rem;
	max-height: 0;
}

/* Make the range slider handle larger. */
input[type=range]::-webkit-slider-thumb
{
	margin-top: -0.56rem;
	height: 1.33rem;
	width: 1.33rem;
}

input[type=range]::-ms-thumb
{
	margin-top: -0.56rem;
	height: 1.33rem;
	width: 1.33rem;
}

input[type=range]::-moz-range-thumb
{
	margin-top: -0.56rem;
	height: 1.33rem;
	width: 1.33rem;
}

.page-footer li
{
	padding: 0.33rem 0rem;
}

/**/
.clouds
{
	background-color: white;
	background-image: url(../img/clouds.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left 2em;
}

.grass
{
	background-image: url(../img/grass.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left 325px;
	border-top: 2rem solid rgb(237,250,252);
}

.background
{
	background: linear-gradient(180deg, rgba(256,256,256,0) 0%, rgba(256,256,256,0) 450px, rgba(216,255,214,1) 450px, rgba(216,255,214,1) 100%);
	margin-top: -2rem;
	padding-bottom: 2rem;
}

/* Site header */
#header > h1
{
	font-family: 'Cairo';
	color: #4cca47;
	color: rgb(28, 172, 171);
	letter-spacing: 0.13rem;
	font-size: 6rem;
	padding-right: 2.25rem;
	text-shadow:
		-0.05rem -0.05rem 0 rgba(0, 0, 0, 0.65),
		0.05rem -0.05rem 0 rgba(0, 0, 0, 0.65),
		-0.05rem 0.05rem 0 rgba(0, 0, 0, 0.65),
		0.05rem 0.05rem 0 rgba(0, 0, 0, 0.65);
}

#header > h1 > img
{
	display: inline-block;
	position: relative;
	top: 0.75rem;
	height: 6.25rem;'
}

#header > p
{
	font-family: 'Cairo';
	font-size: 1.25rem;
	padding: 0rem 5rem;
}

/* Site content */
main
{
	background-color: white;
	border-radius: 1em;
	margin-top: 2rem;
	padding: 1.50rem 0.75rem;
}

/* Campaign overview */
#overview i,
#overview b,
#overview span > span
{
	margin-right: 0.25rem;
}
#overview div
{
	margin-bottom: 0.40rem;
}

#overview .progress
{
	height: 0.25rem;
	background-color: lightgrey;
}

#overview #campaignProgressBar
{
	height: 0.25rem;
	background-color: limegreen;
}

#overview #campaignContributionBar
{
	height: 0.25rem;
	background-color: khaki;
}

/* Campaign form */
fieldset > .input-field
{
	margin: 0;
}

/* Campagin content */
#campaignAbstract
{
	margin-top: 1rem;
	text-align: left;
}

#campaignDetails
{
	padding: 0em;
	margin: 0;
	text-align: left;
}

#campaignDetails > *:last-child
{
	margin-bottom: 0;
	padding-bottom: 0;
}

/* Campaign sidebase */
aside i,
aside b,
aside span > span
{
	margin-right: 0.25rem;
}
aside b
{
	font-size: large;
	margin-left: 0.11rem;
}
aside div
{
	margin-bottom: 0.40rem;
}
aside > section > h3
{
	font-size: 15px;

	margin: 0;
	margin-bottom: 0.40rem;
}
