@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  font-family: 'Ubuntu', sans-serif;
}

.App {
  text-align: center;
}

.Chart {
  margin-left: auto;
  margin-right: auto;
}

.brand-logo {
  margin-left: 20px;
}

.mtop {
  margin-top: 0px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.target-ratio-resize {
	width: 100%; 
	height: auto; 
	max-width: 25vw; 
}

.text-green {
  color: #3faf46
}

.text-orange {
  color: #ff8000
}

.status-header {
  margin-top: 15px;
}

.home-wrapper {
  margin-top: 75px;
  margin-bottom: 125px;
}


